[submodule "xjsonize"]
	path = xjsonize
	url = git@github.com:sparverius/xjsonize.git
	branch = cc
[submodule "xanadu"]
	path = xanadu
	url = git@github.com:sparverius/xanadu.git
	branch = cc
[submodule "xinterp"]
	path = xinterp
	url = git@github.com:sparverius/xinterp.git
	branch = cc
[submodule "xnameof"]
	path = xnameof
	url = https://github.com/sparverius/xnameof.git
	branch = cc
[submodule "xargsof"]
	path = xargsof
	url = https://github.com/sparverius/xargsof.git
	branch = cc
[submodule "xschema"]
	path = xschema
	url = https://github.com/sparverius/xschema.git
	branch = cc
